/* Types */
.fullpage {
    /* background-color: red; */
}

.default {
    /* background-color: yellow; */
    max-width: 1728px;
    margin: auto;
}

.fixed {
    width: 100%;
    position: fixed;
    left: 0px;
}

.screenHeight {
    height: 100vh;
}

/* Paddings */
.padding-small {
    padding: 0px 38px;
}

.padding-big {
    padding: 0px 60px;
}

/* Distribution */
.flex {
    display: flex;
}
.space-between {
    display: flex;
    justify-content: space-between;
}

.vertical-center {
    align-items: center;
}

.gap16 * {
    margin-right: 16px;
}
.gap16 *:last-child {
    margin-right: 0px;
}