@font-face {
  font-family: "Denbora";
  src: url("/tipo.ttf") format("truetype");
}

@import url("./variables.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Denbora", sans-serif;
  font-variation-settings: "wght" 500;
  font-size: 1.6rem;
  line-height: 1.2;
  background-color: var(--color-background);
  color: var(--color-base);
  /* padding: 48px 0px; */
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  white-space: pre-line;
  vertical-align: bottom;
}

/* THEMES */
body,
body[data-theme="white"] {
    --color-background: var(--color-grey);
    --color-foreground: var(--color-white);
    --color-base: var(--color-black); 
    --color-accent: var(--color-green); 
}

body[data-theme="black"] {
    --color-background: var(--color-black);
    --color-foreground: var(--color-black);
    --color-base: var(--color-white); 
    --color-accent: var(--color-green); 
}

body[data-theme="green"] {
    --color-background: var(--color-green);
    --color-foreground: var(--color-green);
    --color-base: var(--color-black);
    --color-accent: var(--color-white); 
}

body[data-theme="purple"] {
    --color-background: var(--color-purple-light);
    --color-foreground: var(--color-purple-dark);
    --color-base: var(--color-black);
    --color-accent: var(--color-green); 
}

body[data-theme="brown"] {
    --color-background: var(--color-brown-dark);
    --color-foreground: var(--color-brown-dark);
    --color-base: var(--color-green);
    --color-accent: var(--color-white); 
}

@import url("./inputs.css");

/* Global Classes */
.variable-type {
  font-variation-settings: var(--variables);
}

.visible {
  display: initial;
}

.invisible {
  display: none !important;
}