/* Buttons */
.icon-button {
    appearance: none;
    background: none;
    border: none;
    display: inline-block;
    /* vertical-align: top; */
    line-height: 0;
    cursor: pointer;
}

.icon-button[data-state=off]{
    opacity: 0.3;
}
  
input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 180px;
    height: 1px;
    background: var(--color-base);
    border-radius: 0px;
    vertical-align: middle;
    margin-left: 24px;
}
  
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 3px;
    background: var(--color-base);
    cursor: ew-resize;
}
  
input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}