:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey: #F1F1F1;
    --color-green: #54FF03;
    --color-purple-light: #B6A4E8;
    --color-purple-dark: #907ACC;
    --color-brown-light: #403835;
    --color-brown-dark: #241F1D;

    --variables: ;

}